<div class="container w-50">
	<h1 class="text-center text-success">Register</h1>
	<hr class="my-3" style="height: 2px; border-color: green; background-color: green;" />
	<form method="post" action="/Users/Register">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username..." />
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password..." />
		</div>
		<div class="form-group">
			<label>Confirm Password</label>
			<input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password..." />
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" name="email" placeholder="Email..." />
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-success">Register</button>
		</div>
	</form>
</div>